@import url('font.css');
@import url('reset.css');
@import url('variables.css');


body {
    background-color: var(--stone-100);
}

/* Mobile version (width less than or equal to 600px) */
@media only screen and (max-width: 768px) {
    body {
      margin: 0;
      padding: 0;
    }
  }
  
  /* For screens larger than mobile (greater than 600px) */
  @media only screen and (min-width: 769px) {
    body {
      padding-top: var(--calc-800);
      padding-bottom: var(--calc-800);
      display: grid;
      place-items: center;
    }
  }
  
*
{
    line-height: 150%;
    letter-spacing: 0px;

    color: var(--stone-600);

    font-family: var(--font-family-outfit);
    font-size: var(--calc-100);
    font-weight: var(--font-weight-regular);
}

.card {
    background-color: var(--white);
    max-width: 46rem;
}


@media only screen and (max-width: 768px) {
    .card {
      width: 100vw;
      margin: 0;
      padding: 0;
    }

    .card .content
    {
      padding-left: var(--calc-200);
      padding-right: var(--calc-200);
      padding-bottom: var(--calc-250);
    }
  }

  @media only screen and (min-width: 769px) {
    .card {
        padding: var(--calc-250);
    border-radius:  var(--calc-150);
    }
  }



section
{
    padding-top: var(--calc-200);
}

section:not(:last-of-type) 
{
    padding-bottom: var(--calc-200);
    border-bottom: 1px solid var(--stone-150);
}

img {
    max-width: 100%;
    border-radius: var(--calc-075);
}

h1 {
    font-family: var(--font-family-young-serif);
    font-size: var(--calc-250);
    margin-top: var(--calc-250);
    margin-bottom: var(--calc-150);
    line-height: 100%;
    color: var(--stone-900);
}

h2 {
    color: var(--brown-800);
    font-size: var(--calc-175);
    font-family: var(--font-family-young-serif);
    margin-bottom: var(--calc-150);
}

h3 {
    color: var(--rose-800);
    font-size: var(--calc-125);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--calc-100);
}

li, .instruction_items .text {
    position: relative;
    margin-bottom: var(--calc-050);
    line-height: 150%;
}

span {
    font-weight: var(--font-weight-bold);
}

ul li{
    padding-left: var(--calc-1375);
}

ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    font-size: var(--calc-125);
    color: var(--rose-800)
}


div.time {
    background-color: var(--rose-50);
    padding: var(--calc-150);
    margin-top: var(--calc-200);
    border-radius: var(--calc-075);
}

.instructions .item
{
    display: flex;
    align-items: baseline;
    gap: var(--calc-200);
    margin-left:var(--calc-050);
}

.nutrition p
{
    margin-bottom: var(--calc-150);
}

.nutrition_items .item
{
    display: flex;
    padding-left: 32px ;
    padding-top: 12px ;
    padding-bottom: 12px;
}

.nutrition_items .item:not(:last-child) 
{
    border-bottom: 1px solid var(--stone-150);
}

.value
{
    color: var(--brown-800);
    font-weight: var(--font-weight-bold);
}

.nutrition_items .item div
{
    width: 50%;
}
